<footer class="footer"><ng-template
		#title><strong><em></em></strong></ng-template><a rel="noreferrer"
		[attr.aria-label]="[footerData['dev']['name'] + '(opens in a new tab)']" href=""
		target="_blank" class="footer-dev wow slideInRight" data-wow-delay="0.1s" placement="bottom"
		[ngbTooltip]="title"></a><br>
	<h2 class="wow {{footerData['citation']['animationClass']}} copyright-desc mb-0 h6 mt-2" data-wow-delay="0.05s">
		Designed with <i class="{{footerData['citation']['icon']}}"></i> By {{footerData['citation']['name']}}</h2>
</footer>
